body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  border-bottom: 1px solid rgba(151, 151, 151, 0.59);
  /* box-shadow:-10px 1px 50px black; */
}
.links {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  /* background-color: pink; */

}
.links a {
  margin-left: auto;
  text-decoration: none;
  transition-duration: 300ms;
  color: #000E39;
 

}
.links a:hover {
  margin-left: auto;
  text-decoration: none;
  color: #000e399d;
  transition-duration: 300ms;
}

/* footer____________________________________________________ */
.footer-section {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.214);
  display: flex;
  flex-direction: row;
  background-color: #333;
}
.right-footer {
  margin-left: auto;
  display: flex;
  /* background-color: green; */
  justify-content: center;
  align-items: center;
  margin-right: 1%;
  font-weight: bold;
}
.left-footer {
  margin: 2%;
}
.left-footer a {
  padding-left: 10%;
  text-decoration: none;
  color: white;
}

.intro-text {
  width: 50%;
  line-height: 1.5rem;
  margin-left: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgba(0, 0, 0, 0.436);
  padding: 2%;
  border-radius: 3px;
}
.intro-text h1{
  font-size: 3rem;
  color: white;
  line-height: 2.5rem;
}

.intro-details {
  line-height: 1.5rem;
  margin-left: 2%;
  font-size: 1.1rem;
  color: white;
  border-top: 1px solid white;
  /* border-left: 1px solid #000E39; */
  padding-top: 1%;

}
.myimg {
  height: 30vh;
  border-radius: 5px;
  box-shadow:-10px 4px 40px -10px #000E39;

}
.intro {
  display: flex;
  flex-direction: row;
  margin: 0% auto;
  /* background-color: green; */
  /* align-items: center; */
  justify-content: center;
  padding: 2%;
  width: auto;
  background-image: url("./images/home1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
.hireBtn {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;

}
.hireBtn {
  border: 1px solid white;
  background-color: transparent;
  border-radius: 2px;
  font-weight: bold;
  color: white;
  transition-duration: 300ms;

}
.hrbtn {
  margin-left: 1%;
}
.hireBtn:hover {
  border: 1px solid #000E39;
  background-color: #000E39;
  color: white;
  border-radius: 2px;
  transition-duration: 300ms;
}
/* find food____________________________________ */
 .findfood {
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .search-food {
  width: 100%;
  height: 2rem;
  border-radius: 4px;
  border: 1px solid black;
 
 }
 .findform {
  width: 40%;
  margin: 3% auto;
 }
h2 {
  color: black
}
.foodlocation {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: flex-start;
  margin-bottom: 5%;
  border-top: 1px solid black;
  padding-top: 1%;
}
.intro-loc {
  width: 50%;
  line-height: 1.5rem;
  margin-left: 2%;
  margin-bottom: 5%;
  /* background-color: rgba(0, 0, 0, 0.358); */
  /* padding: 2%; */
}
.Btn {
  color: black;
  border: 1px solid black;
  border-radius: 2px;
  padding: 1%;
  padding-left: 4%;
  padding-right: 4%;
}
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.Container-Donate {
  border-radius: 3px;
  background-color: #f2f2f2c3;
  padding: 20px;
  width: 30%;
  margin: 2%;
}.footer1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #333;
  padding-top: 5%;
  padding-bottom: 5%;
}

#form-submit button{
  padding: 2%;
  color: black;
  /* font-size: 2rem; */
}
.about {
  position: absolute;
  
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.563);
  margin-top: 38%;
  margin-left: 80%;
  color: white;
  padding: 2%;
  border-radius: 3px;
}
.aboutus-section {
  padding: 5%;
  margin: 0% 15%;
}